body.render .tournament-bracket {
    padding: 16px 0 0;
    margin: 0;
    display: block;
    background: #eee;
    box-shadow: 0px 1px 1px #000;
}

body.render .tournament-bracket .tools {
    /*display: flex;*/
    /*z-index: 9;*/
    display: none;
}



body.render .tournament-bracket .bracket .round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px rgba(128, 128, 128, 0.2) dashed;
    padding-top: 30px;
}

body.render .tournament-bracket .bracket .round:last-child:before {
    content: "Final Game";
}

body.render
.tournament-bracket
.bracket
.round:last-child
.match:nth-child(2)
.teamContainer {
    top: 70px !important;
}

body.render
.tournament-bracket
.bracket
.round:last-child
.match:first-child
.teamContainer {
    bottom: -40px !important;
}

body.render
.tournament-bracket
.bracket
.round:last-child
.match
.teamContainer
.team:nth-child(2) {
    border-radius: 0;
}

body.render .tournament-bracket .bracket .round:nth-last-child(2):before {
    content: "Semifinals Round";
}

body.render .tournament-bracket .bracket .round:nth-last-child(3):before {
    content: "Quarterfinals Round";
}

body.render .tournament-bracket .bracket .round:nth-last-child(4):before {
    content: "1/8 Round";
}

body.render .tournament-bracket .bracket .round:nth-last-child(5):before {
    content: "1/16 Round";
}

body.render .tournament-bracket .bracket .round:before {
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    font-size: 14px;
    text-align: right;
}

body.render .tournament-bracket .bracket .round:first-child {
    border-left: 1px rgba(128, 128, 128, 0.2) dashed;
}

body.render .tournament-bracket .bracket .round .match {
    border-radius: 6px 6px 0 0;
}

body.render .tournament-bracket .bracket .round .match .teamContainer {
    margin: 0;
    border: solid 1px #ececec;
    border-radius: 6px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
    padding: 3px 0 0;
    border-bottom: solid 1px #e5e5e5;
}

body.render .tournament-bracket .bracket .round .match .teamContainer .score {
    font-size: 14px;
    font-weight: bold;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.match-label {
    padding: 0;
    text-align: right;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #f5f5f5;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.match-label
.match-location {
    color: #7d7d7d;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    right: -16px;
    top: -1px;
    width: 260px;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.match-label
.match-date {
    font-size: 11px;
    text-align: right;
    padding-right: 8px;
    color: #4d4d4d;
    font-weight: bold;
    text-rendering: geometricPrecision;
    position: relative;
    top: -1px;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.match-label
.match-id {
    position: absolute;
    top: -10px;
    left: -3px;
    display: block;
    background-color: #fff;
    color: #595959;
    border-radius: 3px;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    padding: 1px 5px 0;
    min-width: 12px;
    height: 12px;
    border: none;
    -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
}

body.render .tournament-bracket .bracket .round .match .teamContainer .team {
    background-color: transparent;
    border: 0;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team:nth-last-child(2) {
    border-radius: 0 0 5px 5px;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.bubble {
    left: -80px;
    width: 55px;
    color: white;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.bubble:after {
    left: 55px;
    border-left: 30px solid transparent;
    border-right: 0;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.bubble.fourth {
    background-color: #009ada;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.bubble.fourth:after {
    border-left-color: rgba(0, 154, 218, 0.6);
    left: 55px;
    border-right: 0;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.bubble.third {
    background-color: #ff5000;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.bubble.third:after {
    border-left-color: rgba(255, 80, 0, 0.6);
    left: 55px;
    border-right: 0;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightWinner,
body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightLoser {
    color: white;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightWinner
.score,
body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightLoser
.score {
    color: white !important;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team
.label {
    text-align: left;
    padding-left: 8px;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.win.highlightWinner
.bubble {
    background-color: #d3491b;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.win.highlightWinner
.bubble:after {
    border-left-color: rgba(211, 73, 27, 0.6);
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.win.highlightLoser {
    background-color: rgba(119, 119, 119, 0.99);
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.win
div.score {
    color: #333;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.win.highlight
.score {
    color: white;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.lose.highlightLoser
.bubble {
    background-color: #777;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.lose.highlightLoser
.bubble:after {
    border-left-color: rgba(119, 119, 119, 0.6);
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlight {
    background-color: #333;
    color: white;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlight
.score {
    color: white;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightWinner {
    background-color: rgba(211, 73, 27, 0.99);
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightWinner
.score {
    color: white;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightLoser {
    background-color: rgba(119, 119, 119, 0.99);
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.team.highlightLoser
.score {
    color: white;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.connector {
    border-color: #9e9e9e;
    border-width: 2px;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.connector.highlight {
    border-color: #d3491b;
}

body.render
.tournament-bracket
.bracket
.round
.match
.teamContainer
.connector.highlightWinner {
    border-color: #d3491b;
}

body.render .jQBracket {
    position: relative;
    left: 0;
    padding: 0 0 20px;
    top: 0;
}

@media (max-width: 1599px) {
    body.render .jQBracket {
        left: 0;
        -webkit-transform: none;
        transform: none;
    }
}

@media (min-width: 1599px) {
    body.render .jQBracket .tools {
        left: -3px !important;
    }
}

body.render .jQBracket div.bracket {
    float: left;
}

body .graph-block {
    width: 100%;
    padding: 0 0 50px 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    overflow: auto;
}

@media (max-width: 1599px) {
    body .graph-block {
        padding-left: 10px;
    }
}

body .graph-block div.jQBracket {
    min-width: 100%;
}

body
.graph-block
div.jQBracket
.bracket
.round:nth-child(2)
.match
.teamContainer {
    min-height: 72px;
}

body.five-rounds
.tournament-bracket
.bracket
.round:last-child
.match:nth-child(2)
.teamContainer {
    top: 72px !important;
}

body.five-rounds
.tournament-bracket
.bracket
.round
.match
.teamContainer
.match-label
.match-location {
    width: 260px;
}

body.four-rounds
.tournament-bracket
.bracket
.round:last-child
.match:nth-child(2)
.teamContainer {
    top: 68px !important;
}

body.four-rounds
.tournament-bracket
.bracket
.round
.match
.teamContainer
.match-label
.match-location {
    width: 340px;
}

body.three-rounds
.tournament-bracket
.jQBracket
.bracket
.round:last-child
.match:nth-child(2)
.teamContainer {
    top: 137px !important;
}

body.three-rounds
.tournament-bracket
.jQBracket
.bracket
.round
.match
.teamContainer
.match-label
.match-location {
    width: 472px;
}

body .navbar-fixed-top {
    width: 100%;
}

body .navbar-fixed-top .nav {
    position: absolute;
    text-align: left;
    top: 10px;
    left: 20px;
    padding: 0;
    line-height: 14px;
    margin: 0;
    z-index: 9;
}

body .navbar-fixed-top .nav a {
    display: inline-block;
    background-color: #333;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 3px 8px;
    margin: 0 5px 0 0;
    font-size: 12px;
    float: left;
}

body .navbar-fixed-top .nav a:hover {
    background-color: #d3491b;
}

body .navbar-fixed-top .nav a.active {
    background-color: #d3491b;
}

@media (min-width: 1599px) {
    body.double .tournament-bracket .graph-block {
        margin-left: 0;
    }
}

body.double .tournament-bracket #doubleElimination .jQBracket .bracket {
    float: right;
}

body.double .tournament-bracket #doubleElimination .jQBracket .bracket .round {
    padding-top: 0;
    border-right: 0;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round:nth-child(2)
.match
.teamContainer {
    min-height: auto;
    top: 60px !important;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round:last-child
.match:first-child
.teamContainer {
    bottom: -26px !important;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round:first-child {
    border-left: 0;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round:before {
    display: none;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round
.match
.teamContainer
.team.win.highlightWinner
.bubble:after {
    border-right-color: rgba(211, 73, 27, 0.6);
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round
.match
.teamContainer
.team
.bubble {
    left: auto;
    right: -80px;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.bracket
.round
.match
.teamContainer
.team
.bubble:after {
    left: -30px;
    border-left: 0;
    border-right: 30px solid transparent;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer {
    margin: 0;
    border: solid 1px #ececec;
    border-radius: 6px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
    padding: 3px 0 0;
    border-bottom: solid 1px #e5e5e5;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team {
    border: 0;
    background-color: transparent;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team:nth-child(2) {
    border-radius: 0 0 5px 5px;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.highlightWinner {
    background-color: #d3491b;
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.win.highlight {
    background-color: #333;
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.win.highlightWinner
.score {
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.win.highlightWinner.highlight {
    color: white;
    background-color: #333;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.lose.highlight {
    background-color: #333;
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.lose.highlightLoser.highlight {
    background-color: #333;
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team.highlight
div.score {
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.team
.label {
    text-align: left;
    padding-left: 8px;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.connector.highlightWinner {
    border-color: #d3491b;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.connector.highlight {
    border-color: #d3491b;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.loserBracket
.round
.match
.teamContainer
.score {
    font-weight: bold;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer {
    margin: 0;
    border: solid 1px #ececec;
    border-radius: 6px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 2px 0 #000;
    box-shadow: 0 0 2px 0 #000;
    padding: 3px 0 0;
    border-bottom: solid 1px #e5e5e5;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team {
    border: 0;
    background-color: transparent;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.lose.highlightLoser {
    background-color: #777;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.lose.highlightLoser
.label,
body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.lose.highlightLoser
.score {
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team
.bubble {
    right: -60px;
    width: 55px;
    color: white;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.highlight {
    background-color: #333;
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.highlightWinner {
    background-color: #d3491b;
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.highlightWinner
.score {
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team:nth-child(2) {
    border-radius: 0 0 5px 5px;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team
.label {
    text-align: left;
    padding-left: 8px;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.highlight
div.score {
    color: white;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.win
.bubble {
    background-color: rgba(211, 73, 27, 0.6);
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.team.win
.bubble:after {
    border-right-color: rgba(211, 73, 27, 0.6);
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.connector.highlight,
body.double
.tournament-bracket
#doubleElimination
.jQBracket
.finals
.round
.match
.teamContainer
.connector.highlightWinner {
    border-color: #d3491b;
}

body.double .tournament-bracket #doubleElimination .jQBracket .tools {
    display: block;
    position: absolute;
    padding-right: 60px;
    top: -16px;
    left: -3px;
    z-index: 9;
}

body.double .tournament-bracket #doubleElimination .jQBracket .tools span {
    display: inline;
    width: 20px;
    float: left;
    padding: 0;
    margin-right: 0;
    background-color: #333;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body.double .tournament-bracket #doubleElimination .jQBracket .tools span:hover {
    background-color: #d3491b;
}

body.double
.tournament-bracket
#doubleElimination
.jQBracket
.tools
span:first-child {
    padding-top: 1px;
}

@media print {
    html {
        height: 100vh;
    }

    html body {
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-filter: Gray();
        filter: Gray();
        filter: url("#grayscale");
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    html body.five-rounds .tournament-bracket .graph-block {
        padding: 0;
        margin: 0;
    }

    html body.five-rounds .tournament-bracket .graph-block .jQBracket .bracket {
        position: absolute;
        left: 0;
    }

    html
    body.five-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round {
        max-width: 188px !important;
    }

    html
    body.five-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer {
        max-width: 188px !important;
    }

    html
    body.five-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .match-location {
        width: 172px !important;
        right: -8px !important;
    }

    html
    body.five-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team {
        max-width: 188px !important;
    }

    html
    body.five-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team
    .label {
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    html body.four-rounds .tournament-bracket .graph-block {
        padding: 0;
        margin: 0;
    }

    html body.four-rounds .tournament-bracket .graph-block .jQBracket .bracket {
        position: absolute;
        left: 0;
    }

    html
    body.four-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round {
        max-width: 234px !important;
    }

    html
    body.four-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer {
        max-width: 234px !important;
    }

    html
    body.four-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .match-location {
        width: 216px !important;
        right: -8px !important;
    }

    html
    body.four-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team {
        max-width: 234px !important;
    }

    html
    body.four-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team
    .label {
        max-width: 192px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    html body.three-rounds .tournament-bracket .graph-block {
        padding: 0;
        margin: 0;
    }

    html body.three-rounds .tournament-bracket .graph-block .jQBracket .bracket {
        position: absolute;
        left: 0;
    }

    html
    body.three-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round {
        max-width: 340px !important;
    }

    html
    body.three-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer {
        max-width: 340px !important;
    }

    html
    body.three-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .match-location {
        width: 324px !important;
        right: -8px !important;
    }

    html
    body.three-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team {
        max-width: 340px !important;
    }

    html
    body.three-rounds
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team
    .label {
        max-width: 192px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    html body .tournament-bracket .graph-block {
        padding: 0;
        margin: 0;
    }

    html body .tournament-bracket .graph-block .jQBracket .bracket {
        position: absolute;
        left: 0;
    }

    html body .tournament-bracket .graph-block .jQBracket .bracket .round {
        max-width: 190px !important;
    }

    html
    body
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer {
        max-width: 190px !important;
    }

    html
    body
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .match-location {
        width: 172px !important;
        right: -8px !important;
    }

    html
    body
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team {
        max-width: 190px !important;
    }

    html
    body
    .tournament-bracket
    .graph-block
    .jQBracket
    .bracket
    .round
    .match
    .teamContainer
    .team
    .label {
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    html .navbar-fixed-top .docs-link,
    html .navbar-fixed-top .nav {
        display: none;
    }

    html .navbar-fixed-top h2 {
        left: 0;
        text-align: left;
        position: relative;
        width: 100%;
        padding-left: 0;
        background-color: transparent;
        color: black;
    }
}
