/*draw css*/
.type-a {
    display: flex;
}

.ip-col {
    padding-right: 20px;
}

.ip-box input {
    background-color: #fff;
    border-color: #000;
    border-radius: 0;
}

.line-left-center,
.no-line {
    position: relative;
}

.line-left-center::before {
    position: absolute;
    background-color: #000;
    top: 19px;
    left: -20px;
    content: "";
    width: 20px;
    height: 1px;
    display: inline-block;
}

.attach-line-vertical {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    background-color: #000;
    content: "";
}

.empty-line {
    min-height: 38px;
    position: relative;
}

.empty-line:before {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    content: "";
    left: 0;
    top: 19px;
}
